body {
    position: relative;
}

.console-window {
    width: 100%;
    height: 500px;
    padding: 20px;
    border: 2px solid #cbcbcb;
    overflow-y: scroll;
}

.option {
    display: block;
    cursor: pointer;
}

.hero {
    position: absolute;
    top: 100px;
    right: 100px;
}

.monster {
    position: absolute;
    top: 200px;
    right: 100px;
}

.result {
    color: red;
}

.crit span {
    color: red;
}
